/*Navbar*/
.navbar-main{
    border-radius: 1rem;
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
.cont-button{
    padding:0.4rem;
    background: white;
    border-radius: 6px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color:black;
    border-color: transparent;
    cursor: pointer;
    font-weight: 600;
    margin-right: 30px;
    font-size: 1.2vw;
    min-width: 100px;
    margin-left:20px;
    border:2px solid black;
    position: relative;
}
.toggle-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.cont-button::after{
    content: '';
    position: absolute;
    width: calc(100% - 20px); /* zmieniona wartość szerokości */
    height: 3px;
    background:white;
    border-radius: 5px;
    bottom: 0;
    left: 0%;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}
.cont-button:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.sun-moon-toogle{
    display: flex;
    margin-left: 2rem;
}
.cont-button:hover{
    background:#3f4a80;
}
.hamburger-icon{
    display: none;
}
.hamburger-icon:hover{
    cursor:pointer;
}
/*Small Navigation*/
.small-nav-disabled{
    display: none;
}
.small-nav-open{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    border-radius: 1rem;
}
.small-nav-open button{
    border-radius: 0.4rem;
    width:100px;
    background: white;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    border:2px solid black;
}
.small-nav-open button:hover{
    background: #4D5B9E;
    opacity:0.6;
}

.small-nav-open button:nth-child(3){
    margin-bottom:1rem;
}